name: Increase Version
on: 
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Check modified files
        id: check-modified-files
        uses: tj-actions/changed-files@v23.1
        with:
          files: |
            /platform/*
          files_ignore: |
            /platform/fleet.yaml
            /platform/Chart.yaml

      - name: Compare Chart versions
        if: steps.check-modified-files.outputs.any_modified == 'true'
        run: |
          git show origin/develop:./Chart.yaml > /tmp/Chart.yaml
      
      - name: Extract branch name
        shell: bash
        run: |
          if [[ $GITHUB_REF == refs/pull/* ]]; then
            echo "BRANCH_NAME=${{ github.head_ref }}" >> $GITHUB_ENV
          else
            echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
          fi
      
      - name: Bump a Helm Chart Version Locally
        uses: explorium-ai/bump-helm-chart-action@main
        with:
          chart-path: /tmp
          app_version: false
          level: patch

      - name: Bump a Helm Chart Version Locally
        uses: explorium-ai/bump-helm-chart-action@main
        if: startsWith(env.BRANCH_NAME, 'minorVersion')
        with:
          chart-path: /tmp
          app_version: false
          level: minor

      - name: Bump a Helm Chart Version Locally
        uses: explorium-ai/bump-helm-chart-action@main
        if: startsWith(env.BRANCH_NAME, 'majorVersion')
        with:
          chart-path: /tmp
          app_version: false
          level: major
