name: Increase Version
on: 
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop
    

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install PyYAML
        run: |
          pip install pybump
          pip install setuptools
          
      - name: Extract branch name
        shell: bash
        run: |
          if [[ $GITHUB_REF == refs/pull/* ]]; then
            echo "BRANCH_NAME=${{ github.head_ref }}" >> $GITHUB_ENV
          else
            echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
          fi
          git show origin/develop:./Chart.yaml > /tmp/Chart.yaml
      
      - name: Bump a Patch for Helm Chart Version Locally
        if: ${{ !(startsWith(env.BRANCH_NAME, 'majorVersion') || startsWith(env.BRANCH_NAME, 'minorVersion')) }}
        run: |
          pybump bump --file /tmp/Chart.yaml --level patch
          echo "LEVEL=Patch" >> $GITHUB_ENV
          echo "NEWVERSION=$(yq .version /tmp/Chart.yaml)"  >> $GITHUB_ENV
           
      - name: Bump a Minor for Helm Chart Version Locally
        if: startsWith(env.BRANCH_NAME, 'minorVersion')
        run: |
          pybump bump --file /tmp/Chart.yaml --level minor
          echo "LEVEL=Minor" >> $GITHUB_ENV
          echo "NEWVERSION=$(yq .version /tmp/Chart.yaml)"  >> $GITHUB_ENV

      - name: Bump a Major for Helm Chart Version Locally
        if: startsWith(env.BRANCH_NAME, 'majorVersion')
        run: |
          pybump bump --file /tmp/Chart.yaml --level major
          echo "LEVEL=Major" >> $GITHUB_ENV
          echo "NEWVERSION=$(yq .version /tmp/Chart.yaml)"  >> $GITHUB_ENV

      - name: Assign Label
        uses: actions-ecosystem/action-add-labels@v1
        if: github.event_name == 'pull_request'
        with:
          labels: ${{ env.LEVEL }}

      - name: Update Chart.yaml with the new version
        if: github.event_name == 'push'  
        run: |
          sed -i "s/^version:.*/version: $NEWVERSION/" ./Chart.yaml
          git config --global user.email "git@gv.com"
          git config --global user.name "GIT"
          git add ./Chart.yaml
          git commit -m "Update Chart.yaml version to $NEWVERSION"
          git push origin HEAD:main
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
