name: Increase Version
on: 
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Check modified files
        id: check-modified-files
        uses: tj-actions/changed-files@v23.1
        with:
          files: |
            /platform/*
          files_ignore: |
            /platform/fleet.yaml
            /platform/Chart.yaml

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install PyYAML
        run: pip install pybump

      - name: Compare Chart versions
        if: steps.check-modified-files.outputs.any_modified == 'true'
        run: |
          git show origin/develop:./Chart.yaml > /tmp/Chart.yaml
          echo "REMOTE_VERSION=$(git show origin/develop:./Chart.yaml | yq e '.version')"  >> $GITHUB_ENV
      - name: Extract branch name
        shell: bash
        run: |
          if [[ $GITHUB_REF == refs/pull/* ]]; then
            echo "BRANCH_NAME=${{ github.head_ref }}" >> $GITHUB_ENV
          else
            echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
          fi
      
      - name: Bump a Helm Chart Version Locally for Patch
        if: ${{ !(startsWith(env.BRANCH_NAME, 'majorVersion') || startsWith(env.BRANCH_NAME, 'minorVersion')) }}
        run: |
          pybump bump --file /tmp/Chart.yaml --level patch 
          echo "LEVEL=patch" >> $GITHUB_ENV
        
      - name: TEST
        run:
          echo $LEVEL
          echo /tmp/Chart.yaml
        

