name: Check Image Versions

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  check:
    name: check_image_versions
    runs-on: ubuntu-20.04
    outputs:
      messages: ${{ steps.checking_images.outputs.msg }}
    steps:
      - name: Checkout Base branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.base_ref }}
          path: base
          
      - name: Checkout PR branch
        uses: actions/checkout@v3
        with:
          path: pr

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install PyYAML
        run: pip install pyyaml
      
      - name: Copy files to /tmp
        run: |
          cp base/platform/values.yaml /tmp/basevalues.yaml
          cp pr/platform/values.yaml  /tmp/prvalues.yaml

      - name: Compare image tags inside of values.yaml
        id: checking_images
        run: |
          python3 pr/.github/workflows/check_image_versions.py
          echo "Checking images script exit code $?"

      - name: Print messages from script
        run: |
          echo "Messages from Python script:"
          echo "${{ steps.checking_images.outputs.messages }}

      - name: Conditional stop
        if: ${{ failure() }}
        run: echo "The workflow was stopped due to failure conditions in the script."      