name: Frula12

on: 
  workflow_dispatch:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Echo first commit message
        run: |
          echo "COMMIT_MESSAGE=${{ github.event.commits[0].message }}" >> $GITHUB_ENV

      - name: Echo push event details
        run: |
          echo "Push Event Details:"

      - name: Echo push event details
        run: |
          echo "Push Event Details:"

      - name: Conditionally echo testingggg
        run: |
          if [[ "$COMMIT_MESSAGE" == *"BUMP"* ]]; then
            echo "TESTINGGGGG"
          fi
