name: Frula
on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: testv
        run: |
          echo "GV_PLATFORM_VERSION=$(yq .version src/chart.yaml)" >> $GITHUB_ENV        
      - name: versionecho
        run: |
          echo $GV_PLATFORM_VERSION
      - name: versionecho
        run: |
          echo ${{ env.GV_PLATFORM_VERSION }}
      - name: Create new tag
        id: create_tag
        run: |
          echo "Latest tag: $GV_PLATFORM_VERSION"
          git tag $GV_PLATFORM_VERSION
          echo "New tag: $GV_PLATFORM_VERSION"
      - name: Push new tag
        run: git push origin $GV_PLATFORM_VERSION
