name: Frula
on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'develop'
          
      - name: testv
        run: |
          echo "VERSION=$(yq .version ./Chart.yaml)" >> $GITHUB_ENV        
      - name: echo version
        run: |
          echo $VERSION
      - name: echoversion
        run: |
          echo ${{ env.VERSION }}
      - name: echoversion
        run: |
          echo ${{ env.VERSION }}
      - name: Bump Minor Version
        run: |
          CURRENT_VERSION=$(yq .version ./Chart.yaml)
          IFS='.' read -r MAJOR MINOR PATCH <<< "$CURRENT_VERSION"
          MAJOR=${MAJOR}
          MINOR=${MINOR}
          PATCH=${PATCH}
          PATCH=$((PATCH+1))
          NEW_VERSION="$MAJOR.$MINOR.$PATCH"
          echo "Current version: $CURRENT_VERSION"
          echo "New version: $NEW_VERSION"
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Update Chart.yaml with the new version
        run: |
          NEW_VERSION="${{ github.event.inputs.newVersion }}"
          echo "version: $NEW_VERSION" >> ./Chart.yaml
      - name: TEST
        run: |
          cat ./Chart.yaml
 
