name: Frula
on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'develop'
  
      - name: Check Develop Version and bump
        run: |
          echo "VERSION_DEVELOP=$(yq .version ./Chart.yaml)" >> $GITHUB_ENV 
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Check Current Branch Version
        run: |
          echo "VERSION_CURRENT=$(yq .version ./Chart.yaml)" >> $GITHUB_ENV 
      - name: Run version increase
        run: |
          chmod +x ./.github/workflows/increase_version.sh
          ./.github/workflows/increase_version.sh $VERSION_DEVELOP $VERSION_CURRENT
        
      - name: Update Chart.yaml with the new version
        run: |
          echo "version: ${{ env.NEWVERSION }}" >> ./Chart.yaml
      - name: TEST
        run: |
          cat ./Chart.yaml
 
