name: Frula12
on: 
  workflow_dispatch:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Echo push event details
        run: |
          echo "Push Event Details:"
          echo ${{ toJSON(github.event) }}
      
      - name: Check modified files
        if: github.event_name == 'push' && startsWith(github.event.head_commit.message, 'Bump')
        run: echo "DINAMO"
