name: Frula
on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: testv
        run: |
          echo "VERSION=$(yq .version ./Chart.yaml)" >> $GITHUB_ENV        
      - name: echo version
        run: |
          echo $VERSION
      - name: echoversion
        run: |
          echo ${{ env.VERSION }}

      - name: echoversion
        run: |
          echo ${{ env.VERSION }}
          
    - name: Bump Minor Version
      run: |

        CURRENT_VERSION=$(yq .version ./Chart.yaml)
        MAJOR=${CURRENT_VERSION[0]}
        MINOR=$((CURRENT_VERSION[1]+1))
        NEW_VERSION="$MAJOR.$MINOR"
        echo "Current version: $CURRENT_VERSION"
        echo "New version: $NEW_VERSION"
        sed -i "s/version: $CURRENT_VERSION/version: $NEW_VERSION/" ./Chart.yaml
 
