name: Frula12

on: 
  workflow_dispatch:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Echo first commit message
        run: echo "First Commit Message: ${{ github.event.commits[0].message }}"

      - name: Echo push event details
        run: |
          echo "Push Event Details:"
          echo "${{ toJSON(github.event) }}"
    
