name: Frula12
on: 
  workflow_dispatch:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Check modified files
        if: github.event_name == 'push' startsWith(github.event.head_commit.message, 'Bump version to')
        run: echo "DINAMO"
 
