name: Build Helm charts

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  check:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: check PR
        run: |
          echo "PR=${{ github.event.pull_request.number }}" >> GITHUB_ENV

      - name: TEST
        run: echo $PR
          
