name: Frula12

on: 
  workflow_dispatch:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Echo first commit message
        run: |
          echo "COMMIT_MESSAGE=${{ github.event.commits[0].message }}" >> $GITHUB_ENV

      - name: Echo push event details
        run: |
          echo "Push Event Details:"

      - name: Set first commit message as output
        id: get_commit_message
        run: echo "::set-output name=commit_message::${{ github.event.commits[0].message }}"

      - name: Conditionally echo testingggg
        if: github.event_name == 'push' && contains(steps.get_commit_message.outputs.COMMIT_MESSAGE, 'Bump')
        run: |
            echo "TESTINGGGGG"

