name: Frula
on: 
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check modified files
        id: check-modified-files
        uses: tj-actions/changed-files@v23.1
        with:
          files: |
            /platform/*
          files_ignore: |
            /platform/fleet.yaml
            /platform/Chart.yaml

      - name: Compare Chart versions
        if: steps.check-modified-files.outputs.any_modified == 'true'
        id: compare_chart_version
        run: |
          for file in ${{ steps.check-modified-files.outputs.all_modified_files }}; do
            echo "- $file has changed"
          done
          VERSION_CURRENT=$(yq e '.version' ./Chart.yaml)
          VERSION_DEVELOP=$(git show origin/develop:./Chart.yaml | yq e '.version')
          chmod +x ./.github/workflows/increase_version.sh
          ./.github/workflows/increase_version.sh $VERSION_DEVELOP $VERSION_CURRENT

      - name: Minor Version
        uses: actions-ecosystem/action-add-labels@v1
        if: $VERSION == minor
        with:
          labels: bump:minor

      - name: Minor Version
        uses: actions-ecosystem/action-add-labels@v1
        if: $VERSION == major
        with:
          labels: bump:major
  
      - name: Update Chart.yaml with the new version
        run: |
          echo "version: ${{ env.NEWVERSION }}" >> ./Chart.yaml
      - name: TEST
        run: |
          cat ./Chart.yaml
 
