name: Frula
on: 
  workflow_dispatch:
  pull_request:
    branches:
      - *
    

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'develop'
      - name: Check Develop Version and bump
        run: |
          echo "VERSION_DEVELOP=$(yq .version ./Chart.yaml)" >> $GITHUB_ENV 
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      - name: Check Current Branch Version
        run: |
          echo "VERSION_CURRENT=$(yq .version ./Chart.yaml)" >> $GITHUB_ENV       
      - name: Check modified files
        id: check-modified-files
        uses: tj-actions/changed-files@v23.1
        with:
          files: |
            /platform/*
            /.github/*
          files_ignore: |
            /platform/fleet.yaml
            /platform/Chart.yaml
      - name: Compare Chart versions
        if: steps.check-modified-files.outputs.any_modified == 'true'
        id: compare_chart_version
        run: |
          for file in ${{ steps.check-modified-files.outputs.all_modified_files }}; do
            echo "- $file has changed"
          done
          chmod +x ./.github/workflows/increase_version.sh
          ./.github/workflows/increase_version.sh $VERSION_DEVELOP $VERSION_CURRENT

      - name: Minor Version
        uses: actions-ecosystem/action-add-labels@v1
        if: ${{ env.VER_RELEASE }} == 'minor'
        run: echo "{{ env.VER_RELEASE }}-RCCCCCCCC
        with:
          labels: bump:minor
  
      - name: Update Chart.yaml with the new version
        run: |
          echo "version: ${{ env.NEWVERSION }}" >> ./Chart.yaml
      - name: TEST
        run: |
          cat ./Chart.yaml
 
