name: Frula
on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: testv
        run: |
          echo "VERSION=$(yq .version ./Chart.yaml)" >> $GITHUB_ENV        
      - name: echo version
        run: |
          echo $VERSION
      - name: echoversion
        run: |
          echo ${{ env.VERSION }}
          
      - id: bumpr
        name: Calculate next semantic version
        uses: haya14busa/action-bumpr@v1
        with:
          default_bump_level: patch
          dry_run: true

      - name: echoversion
        run: |
          echo ${{ env.VERSION }}
          
      - name: Non RC - get version number
        id: get_version_master
        run: |
          VERSION=${{ steps.bumpr.outputs.next_version }}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Print version number
        id: output_version
        run: |
          echo "$VERSION"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
 
