name: Frula
on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: testv
        run: |
          echo "GV_PLATFORM_VERSION=$(yq .version src/chart.yaml)" >> $GITHUB_ENV        
      - name: Push new tag
        run: |
          git tag ${{ env.GV_PLATFORM_VERSION }}
          git push origin ${{ env.GV_PLATFORM_VERSION }}
